<div class="chat-container">
  <div class="chat-header">
    <h1>May AI</h1>
    <p>beta version ♡</p>
    <button class="btn-limpiar" (click)="limpiarChat()">limpiar chat</button>
  </div>

  <div class="messages" #mensajesDiv>
    <div *ngFor="let mensaje of mensajes" [class]="mensaje.rol" class="mensaje-animado">
      <div class="ia-avatar" *ngIf="mensaje.rol === 'ia'">
        <img src="may.jpeg" alt="May" style="width:100%;height:100%;object-fit:cover;border-radius:50%;" />
      </div>
      <div class="mensaje-contenido">
        <p>{{ mensaje.contenido }}</p>
        <span class="hora">{{ mensaje.hora }}</span>
      </div>
    </div>
    <div class="ia" *ngIf="escribiendo">
      <div class="ia-avatar">
        <img src="may.jpeg" alt="May" style="width:100%;height:100%;object-fit:cover;border-radius:50%;" />
      </div>
      <p class="escribiendo">may está escribiendo<span>...</span></p>
    </div>
  </div>

  <div class="input-area">
    <div class="input-wrapper">
      <input [(ngModel)]="pregunta" placeholder="escríbele algo a may..." (keyup.enter)="enviar()" [maxlength]="maxCaracteres"/>
      <span class="contador">{{ pregunta.length }}/{{ maxCaracteres }}</span>
    </div>
    <button (click)="enviar()">enviar</button>
  </div>
</div>